$primary: #7000BD;
$white: #ffffff;
$backgroundLinear: linear-gradient(65.39deg, #7000BD 15.63%, #7A09AE 18.67%, #9A2382 28.82%, #B5395D 38.96%, #CB4C3E 50.12%, #DC5A26 61.28%, #E96415 72.44%, #F06A0B 85.63%, #F26C08 101.87%);
$orange: #F16B08;

$heightBtn: 50px